* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

header{
    background-color: #222;
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav button {
    border: 1px white solid;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 1rem;
    margin: 1rem;
}

header nav button:hover {
    background-color: red;
    border-color: #222;
    transition: all 400ms;
    animation: bounce 500ms ease-in-out forwards ;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
    height: 100vh;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

.all-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(140px + 2rem), 1fr));
    gap: 1rem;
    place-items: center;
}

.encounter-editor {
    display: grid;
    grid-template-columns: min-content min-content 1fr;   
}

.panel h2 {
    justify-self: stretch;
    grid-column: 1 / -1;
    background-color: #222;
    color: white;
    line-height: 2rem;
    margin: -1rem;
    padding: 0.5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel nav {
    grid-column: 1 / -1;
    justify-self: stretch;
    padding: 0.5rem 1rem;
}

.panel nav button {
    padding: 0.5rem 1rem;
    border-radius: 0px;
    border: 1px solid #222;
    box-shadow: 2px 2px 4px #222;
}

.panel nav button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.panel nav button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card {
    margin: 1rem;
    padding: 1rem;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px #222 solid;
    border-radius: 10px;
    position: relative;
}

.delete-btn {
    position: absolute;
    bottom: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    font-size: 1.25rem;
    border-radius: 50%;
    border: 1px solid black;
    color: red;
    display: none;
}

.delete-btn:hover {
    animation: bounce 500ms ease-in-out forwards ;
}

.editable:hover .delete-btn {
    display: block;
}

.editable input {
    width: 100%;
    border: none;
}

.editable span input {
    width: 40%;
}

.card:hover {
    background-color: #222;
    color: white;
    background-color: rgb(118, 224, 118);
}

.add-card-btn {
    margin: 1rem;
    padding: 1rem;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px #222 solid;
    border-radius: 10px;
    transform: scale(1.0);
    transition: scale 500ms;
    font-size: 3rem;
}

.add-card-btn:hover {
    transition: all 500ms;
    background-color: rgb(118, 224, 118);
    animation: bounce 500ms ease-in-out forwards ;
}



.combat-board {
    display: grid;
    grid-template: repeat(9, 32px) / repeat(9, 32px);
    place-items: center center;
    box-shadow: inset 2px 2px 4px #ccc;
}

.pallette {
    display: grid;
    grid-template-columns: min-content min-content;
    margin: 1rem;
}

.tile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.tile:nth-child(odd) {
    background-color: #ccc;
}

textarea {
    resize: none;
}

@keyframes bounce {
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.95);
    }
}

